.filterContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 560px) {
    .filterContainer {
        flex-wrap: wrap;
    }
}